<section class="profile-container d-flex justify-content-center">
    <div class="container d-flex flex-md-row flex-column justify-content-center align-items-center ">
        <div class="d-flex me-5">
            <img class="rounded-circle" src="./assets/profile-pic.png" alt="Profile Picture" width="350">
        </div>
        <div class="align-self-center text-center">
            <p>Hello, I'm</p>
            <h1>Aleandro Presta</h1>
            <p>Software Engineer</p>
            <div class="container d-flex justify-content-center">
                <button class="btn" onclick="window.open('./assets/resume.pdf')">
                    Download CV
                </button>
                <button class="btn" onclick="location.href='./#contacts'">
                    Contact Info
                </button>
            </div>
            <div id="container d-flex justify-content-center">
                <img src="./assets/linkedin.png" alt="Linkedin Profile" class="icon" onclick="location.href='https://www.linkedin.com/in/aleandro-presta-6523471b9/'">
                <img src="./assets/github.png" alt="GitHub Profile" class="icon" onclick="location.href='https://github.com/AleandroPresta'">
            </div>
        </div>
    </div>
</section>