<div class="container">
    <div class="row">
        <div class="col border">
            <h2 class="text-center my-5">SkillSet 1</h2>
            <div class="d-flex flex-wrap justify-content-center gap-5">
                <div *ngFor="let skill of skills">
                    <app-skill-content [skill]="skill.name" [experience]="skill.experience"></app-skill-content>
                </div>
            </div>
        </div>
        <div class="col border">
            <h2 class="text-center my-5">SkillSet 2</h2>
            <div class="d-flex flex-wrap justify-content-center gap-5">
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
            </div>
        </div>
    </div>
</div>