<div class="container">
    <div class="row">
        <div class="col">
            <h2>Web Development</h2>
            <div class="d-flex flex-wrap">
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
            </div>
        </div>
        <div class="col">
            <h2>Machine Learning</h2>
            <div class="d-flex flex-wrap">
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
                <app-skill-content></app-skill-content>
            </div>
        </div>
    </div>
</div>

  <!--
  <div class="article-container">
    <article>
      <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
      <div>
        <h3>Django</h3>
        <p>Intermediate</p>
      </div>
    </article>

    <article>
      <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
      <div>
        <h3>Angular</h3>
        <p>Basic</p>
      </div>
    </article>

    <article>
      <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
      <div>
        <h3>Java SpringBoot</h3>
        <p>Basic</p>
      </div>
    </article>

    <article>
      <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
      <div>
        <h3>SQL</h3>
        <p>Intermediate</p>
      </div>
    </article>

    <article>
      <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
      <div>
        <h3>HTML/CSS</h3>
        <p>Intermediate</p>
      </div>
    </article>

    <article>
      <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
      <div>
        <h3>JavaScript</h3>
        <p>Intermediate</p>
      </div>
    </article>
  </div>

-->