<div class="container my-5">
    <div class="row">
        <div class="col m-4">
            <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                <!--<div *ngFor="let project of projects">
                    <app-publication-content
                    [projectTitle]="project.projectTitle"
                    [projectDescription]="project.projectDescription"
                    [projectImageUrl]="project.projectImageUrl"
                    [projectUrl]="project.projectUrl"
                    [projectTags]="project.projectTags">
                        
                    </app-publication-content>
                </div>-->
                <app-publications-content></app-publications-content>
                <app-publications-content></app-publications-content>
                <app-publications-content></app-publications-content>
            </div>
        </div>
    </div>
</div>